<div class='border'>
    <div class='chatItem'>
        <div class='chatItem__avatar'>
            <img class='avatar' src='../../assets/default-avatar.png' alt='avatar' />
        </div>

        <div class='chatItem__text'>
            <h4 class='chatItem__name'>{{name}}</h4>
            <p class='chatItem__message'>{{message}}</p>
        </div>

        <div class='chatItem__info'>
            <div class="chatItem__infoTop">
                <button class='chatItem__delete'>X</button>
                <time class='chatItem__time'>{{time}}</time>
            </div>
            <p class='chatItem__unread'>{{unread}}</p>

        </div>
    </div>
</div>