@import '../../styles/variables.scss';

.dataItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid $grey;

  &__title {
    font-size: 13px;
    font-weight: 500;
    width: 28%;
    text-align: start;
  }

  &__input {
    width: 72%;
    font-size: 13px;
    background: $first-background;
    font-weight: 500;
    border: none;
    outline: transparent;
    &:hover {
      color: $second-text;
    }
  }

  input:focus {
    color: $blue;
  }
}