{{!< main}}

<main class='main'>
    <div class='profile'>
        {{> profileReturnButton/profileReturnButton path=""}}

        <section class='profile__container'>
            <form class='user' action="/">
                <div class='user__avatar'>
                    <img
                            src='./../../assets/default-avatar.png'
                            alt='avatar'
                            class='user__image'
                    />
                </div>

                <div class='user__data'>
                    {{#each profile}}
                        {{> 'inputItem/inputItem' this}}
                    {{/each}}
                </div>

                <div class="loginForm__bottom">
                    {{> 'button/button' button-title='Save' button-class='button'}}
                </div>
            </form>
        </section>
    </div>
    <a href="../first/first.ts" class="backLink">Вернуться назад</a>
</main>