@import '../../styles/variables.scss';

.user {
  width: 510px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 6rem;
  &__image {
    width: 130px;
    height: 130px;
  }
  &__data,
  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 1rem;
  }

  .actionItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    border-bottom: 1px solid $grey;

    &__title {
      font-size: 13px;
      color: $blue;
      font-weight: 500;

      &_warning {
        color: $error;
      }
    }
  }
}