{{!< main}}

<main class="main">
    <div class="error">
        <h1 class="error__title">500</h1>
        <p class="error__text">Oops! Something went wrong.</p>
        <a href="../index/index.hbs" class="error__link">Go to home</a>

    </div>
    <a href="../index/index.hbs" class="backLink">Вернуться назад</a>
</main>