{{!< main}}

<main class='main'>
    <div class='profile'>
        {{> profileReturnButton/profileReturnButton path=""}}

        <section class='profile__container'>
            {{> user/user}}
        </section>
    </div>
    <a href="../first/first.ts" class="backLink">Вернуться назад</a>
</main>