:root {
  --first-background: #343A4F;
  --second-background: #252838;
  --text: #E2E2E4;
  --second-text: #9898B0;
  --blue: #3369F3;
  --error: #F44D4D;
  --grey: #4C546F;
  --font-family: 'Roboto', sans-serif;
  }