{{!< main}}

<main>
    <ul class="temporaryMenu">
        <li>
            <a href="../errors/404.hbs">Error 404</a>
        </li>
        <li>
            <a href="../errors/500.hbs">Error 500</a>
        </li> 
        <li>
            <a href="../login/login.hbs">Sing In</a>
        </li> 
        <li>
            <a href="../signUp/singUp.hbs">Sing Up</a>
        </li> 
        <li>
            <a href="../chats/chats.hbs">Chats</a>
        </li> 
        <li>
            <a href="../profile/profile.hbs">Profile</a>
        </li>
        <li>
            <a href="../changeProfile/changeProfile.hbs">Change Profile</a>
        </li>
        <li>
            <a href="../changePassword/changePassword.hbs">Change Password</a>
        </li>
    </ul>
</main>
