<div class='dataItem'>
    <div class='dataItem__title'>{{name}}</div>
    <input
            type='{{type}}'
            placeholder=' '
            name='{{name}}'
            value='{{value}}'
            class='dataItem__input'
    />
</div>