{{!< main}}

<main class="main">
    <form class="loginForm" action="/">
        <div class="loginForm__block">
            <h3>Sign up</h3>

            {{#each regInput}}
                {{> 'input/input' this}}
            {{/each}}
        </div>

        <div class="loginForm__bottom">
            {{> 'button/button'  button-title="Sign Up" button-class='button'}}
            <a class="loginForm__link" href="../signUp/singUp.hbs">Sign In</a>
        </div>
    </form>
    <a href="../first/first.ts" class="backLink">Вернуться в меню</a>
</main>