
.button {
    border: none;
    background-color: var(--blue);
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 280px;
    height: 37px;
    border-radius: 8px;
    outline: transparent;

&:hover {
     cursor: pointer;
 }
}